<div class="Heading d-flex flex-row text-center">
  <h1 style="color: dimgrey;font-size: 2em;">Lionel Messi</h1>
  <img style="width:70px;height:70px;margin-top: -5%;" src="https://tse4.mm.bing.net/th?id=OIP.wCmAfcgMoyg8cxAzuAonUQHaHa&pid=Api&P=0&w=300&h=300" alt="">
</div>
<div class="line"></div>
<div class="chart" >
    <ejs-chart style='display:block' id='chartcontainer'  [primaryXAxis]='primaryXAxis'>
      <e-series-collection>
          <e-series [dataSource]='data' type='Radar' drawType= "Area"  xName='x' yName='y'></e-series>   
      </e-series-collection>
    </ejs-chart>
</div>
<div class="content">
  <div class="d-flex flex-row">
    <button mat-raised-button style="background-color: rgb(3, 80, 3);"><span style="color: ivory;">Overall   94</span></button>
    <button style="margin-left: 50px;background-color: rgb(3, 80, 3);" mat-raised-button><span style="color: ivory;">Potential   94</span></button>

  </div>
  <br><br>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row">
      <h2 style="color: rgb(87, 85, 85);">Age  </h2>
      <h2><strong style="margin-left: 90%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  31</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">Height </h2>
      <h2><strong style="margin-left: 90%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  5'7</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;"> Weight</h2>
      <h2><strong style="margin-left: 70%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  159lbs</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">Preferred Foot </h2>
      <h2><strong style="margin-left: 70%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  Left</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">Position  </h2>
      <h2><strong style="margin-left: 90%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  RF</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">Jersey Number  </h2>
      <h2><strong style="margin-left: 90%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  10</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">Weak Foot  </h2>
      <h2><strong style="margin-left: 10%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  ⭐⭐⭐⭐</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">Skill Moves  </h2>
      <h2><strong style="margin-left: 10%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  ⭐⭐⭐⭐⭐</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">Work Rate (Attack - Defense)  </h2>
      <h2><strong style="margin-left: 10%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  Medium/Medium</strong></h2>
    </div>
    <div class="d-flex flex-row">
      <h2 style="color: dimgrey;">International Reputation  </h2>
      <h2><strong style="margin-left: 10%;font-family:'Times New Roman', Times, serif;font-weight:bolder;">  ⭐⭐⭐⭐</strong></h2>
    </div>
  </div>
</div>

